.detail {
    margin: 10px;
    margin-top: 50px;
    max-width: 600px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}